<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="/scripts/materializeAutoinit.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</head>
<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Artem</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Main Page</a></li>
        <li><a href="/list">All Questions</a></li>
        <li><a href="/list/practice">Practice</a></li>
        <l i><a href="/ask">Ask Your Own!</a></li>    
        <% if (isLoggedIn) { %>
            <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
            <li><a href="/logout" class="btn red">Logout</a></li>                        
        <% } else { %>
            <li><a href="/login" class="btn blue">Login</a></li>
        <% } %> 
      </ul>
    </div>
  </nav>
  <ul id="mobile-nav" class="sidenav">
    <li><a href="/"><i class="material-icons left">mainPage</i>Main Page</a></li>
    <li><a href="/list"><i class="material-icons left">list</i>Questions</a></li>
    <% if (isLoggedIn) { %>
      <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
      <li><a href="/logout" class="btn red">Logout</a></li>                        
  <% } else { %>
      <li><a href="/login" class="btn blue">Login</a></li>
  <% } %>
</ul>
</header>
<body>
    <h1 class="welcome">
        Welcome!
    </h1>
    <ul class="collection with-header">
        <li class="collection-header"><h4>Links:</h4></li>
        <li class="collection-item"><a class="btn" href = "/pay">Pay here for your subscription</a></li>
        <li class="collection-item"><a class="btn" href = "/list/practice">Practice Questions</a></li>
        <li class="collection-item"><a class="btn" href = "/ask">Ask Your Own Questions</a></li>
      </ul>
</body>
</html>