<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- initialize Materialize elements -->
    <script> M.AutoInit();</script>


    <style>
        form {
            border: solid 2px lightgrey;
            padding: 10px;
            border-radius: 5px;
        }

        form:focus-within {
            border-color: orange;
        }

        tr:hover {
            background-color: #F0F0F0;
        }
    </style>
</head>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Artem</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Main Page</a></li>
        <li><a href="/list">All Questions</a></li>
        <li><a href="/list/practice">Practice</a></li>
        <li><a href="/ask">Ask Your Own!</a></li>      
      </ul>
    </div>
  </nav>
<body>
    <h1>All Questions</h1>
    <table>
        <thead>

            <tr>
                <th>Number</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Creator</th>
                <th></th>
            </tr>

        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>Widgets</td>
                <td>5</td>
                <td>99</td>
                <td class="section" id="stuffControls">
                    <a class="btn-small waves-effect waves-light orange left modal-trigger" href="#stuffEdit">
                        <i class="material-icons right">edit</i>
                        Edit
                    </a>
                    <a class="btn-small waves-effect waves-light red">
                        <i class="material-icons right">delete</i>
                        Delete
                    </a>
                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>Gizmos</td>
                <td>99</td>
                <td>99</td>
                <td>
                    <a class="btn-small waves-effect waves-light orange left modal-trigger" href="#stuffEdit">
                        <i class="material-icons right">edit</i>
                        Edit
                    </a>
                    <a class="btn-small waves-effect waves-light red">
                        <i class="material-icons right">delete</i>
                        Delete
                    </a>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="modal" id="stuffEdit">

        <div class="modal-content">

            <h2>Edit item:</h2>
            <form>
                <div class="input-field col s6">
                    <label for="countInput">Question Count:</label>
                    <input type="number" name="quantity" id="quantityInput" value=1 required>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="creatorInput">Creator</label>
                        <input type="text" name="creator" id="creatorInput" class="validate" data-length="32" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="questionInput">Question</label>
                        <input type="text" name="question" id="descriptionInput" data-length="100">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="answerInput">Answer</label>
                        <input type="text" name="answer" id="answerInput" data-length="100">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn waves-effect waves-light " type="submit">
                        <i class="material-icons right">send</i>
                        Submit
                    </button>
                    <button class="modal-close waves-effect waves-green btn-flat">Never Mind</button>
                </div>
            </form>
        </div>

    </div>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- initialize Materialize elements -->
    <script> M.AutoInit();</script>
</body>
</html>