<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
       
</head>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Artem</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Main Page</a></li>
      <li><a href="/list">All Questions</a></li>
      <li><a href="/list/practice">Practice</a></li>
      <li><a href="/ask">Ask Your Own!</a></li>      
    </ul>
  </div>
</nav>
<body>
    <p>Really?</p>
</body>
</html>