<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "/stylesheets/PayWall.css">
    <title>PayWall</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          
</head>

<body>
    <div id="paywall-wrapper">
        <h4>Web App Content Subscription</h4>
        <p>Access <strong>PREMIUM</strong> content with the subscription fees, only for <strong>$19.99/month</strong>.</p>
        <a class="btn" href="/">Access <strong>PREMIUM</strong>!</a>
     </div>
</body>
</html>